<!--
Задача 3

Используя любой сторонний сервис, измените усовершенствуйте решение задачи 2, так что бы прокрутка выполнялась плавно.
-->



<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../bootstrap.css" rel="stylesheet" />
    <link href="../../bootstrap-theme.css" rel="stylesheet" />
    <script src="..\..\angular.js"></script>
    <script src="lib\angular-smooth-scroll.js"></script>
    <style>
        ul{
            cursor:pointer;

        }

        .well{
            min-height:300px;
        }
    </style>
    <script>
        angular.module("app",['smoothScroll'])

                .controller("appCtrl",['$scope','$anchorScroll', '$location','smoothScroll',function(scope,$anchorScroll, $location,smoothScroll) {

                    scope.items=[];
                    for(var i=1;i<31;i++){
                        scope.items.push({id:"item"+i,name:"div"+i});


                    }

                    scope.show=function(id){
                        var elem=document.getElementById(id);
                        var options = {
                            duration: 2000,
                            easing: 'easeInQuad',
                            offset: 120,

                        }
                        smoothScroll(elem,options);
                    }

                }])

    </script>
</head>
<body ng-controller="appCtrl">
<ul class="list-inline" id="top"><li ng-repeat="item in items" class="list-group-item-info" ng-click="show(item.id)">{{item.name}}</li></ul>
<div ng-repeat="item in items" class="well" id="{{item.id}}">
    {{item.name}}
</div>


</body>
</html>