<!--###Задача 3
Добавьте на страницу следующий функционал:
* При клике по элементу списка на странице home, пользователь перенаправляется на страницу contact по адресу
‘/contact + routeParams’, где routeParams – параметры маршрутизации, созданные с помощью сервиса $routeParams,
представляющие собой значения свойств массива people для элемента, по которому кликнул пользователь.
* Используйте данные, переданные через $routeParams, для автозаполнения формы на странице contact -->
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

    <meta charset="UTF-8">
    <title></title>
    <link href="../../bootstrap.css" rel="stylesheet" />
    <link href="../../bootstrap-theme.css" rel="stylesheet" />
    <script src="..\..\angular.js"></script>
    <script src="..\..\angular_route.js"></script>
    <style>

    </style>
    <script>
        angular.module("app",['ngRoute'])

                .config(function($routeProvider,$locationProvider){

                    $routeProvider

                            .when('/home', {
                                templateUrl: 'Ignite/Angular/L16/Homework/Task/home2.html',
                                controller:"homeCtrl"
                            })
                            .when('/contact/:name/:age/:email/:employed', {
                                templateUrl: 'Ignite/Angular/L16/Homework/Task/contact.html',
                                controller:"contactCtrl"

                            }).when('/contact', {
                                templateUrl: 'Ignite/Angular/L16/Homework/Task/contact.html'

                            })



                    $locationProvider.html5Mode({
                        enabled:true,
                        requireBase:false
                    })
                })

                .controller("homeCtrl",function($scope,$location){
                    $scope.people= [{name: 'Vasya', age: 20, email: 'vasya@mail.ru', employed: false},
                        {name: 'Masha', age: 25, email: 'm@m', employed: true},
                        {name: 'Petya', age: 27, email: 'petya@stuff', employed: true},
                        {name: 'John', age: 36, email: 'johnDoe@mail', employed: true},
                        {name: 'Jane', age: 28, email: 'janeDoe@mail', employed: false}];

                    $scope.click=function(obj){
                        var routeParams=obj.name+"/"+obj.age+"/"+obj.email+"/"+obj.employed;

                        $location.path("/contact/"+routeParams);
                    }
                })
                .controller("mainCtrl",function($scope,$location){
                    $location.path("/contact");
                    $scope.goHome=function(){
                        $location.path("/home");
                    };
                    $scope.goContact=function(){
                        $location.path("/contact");
                    }
                })
                .controller("contactCtrl",function($scope,$routeParams){
                        $scope.name=$routeParams.name;
                        $scope.age=$routeParams.age;
                        $scope.email=$routeParams.email;

                    $scope.employed=($routeParams.employed=="true");

                })

    </script>
</head>
<body>
<div class="well text-center" ng-controller="mainCtrl">
    <ul class="nav nav-tabs">
        <li><a ng-click="goHome()">Home</a></li>
        <li><a ng-click="goContact()">Contact</a></li>
    </ul>
</div>
<div ng-view class="text-center"></div>
</body>
</html>