<!--###Задача 3
Перепишите код предыдущей задачи с использованием директивы ng-include-->
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../bootstrap.css" rel="stylesheet" />
    <link href="../../bootstrap-theme.css" rel="stylesheet" />
    <script src="..\..\angular.js"></script>
    <script>

        angular.module("app",[])
                .controller("myappCtrl",['$scope',function(scope){
                    scope.items = [
                        { name: "B Item", price: 10.9, category: "Category 1", count: 10, tax: 1.12, expiration: 10 },
                        { name: "A Item", price: 1.1, category: "Category 1", count: 8, tax: 0.55, expiration: 12 },
                        { name: "D Item", price: 2.6, category: "Category 2", count: 7, tax: 0.22, expiration: 5 },
                        { name: "C Item", price: 17.5, category: "Category 2", count: 33, tax: 2.77, expiration: 10 }];
                    scope.nameSrc='';
                    scope.priceSrc='';
                    scope.categorySrc= '';
                    scope.countSrc='';
                    scope.taxSrc='';
                    scope.expirationSrc='';

                    scope.change=function(){
                        scope.nameSrc=scope.name==true?'files/name.html':'';
                        scope.priceSrc=scope.price==true?'files/price.html':'';
                        scope.categorySrc=scope.category==true?'files/category.html':'';
                        scope.countSrc=scope.count==true?'files/count.html':'';
                        scope.taxSrc=scope.tax==true?'files/tax.html':'';
                        scope.expirationSrc=scope.expiration==true?'files/expiration.html':'';

                    }



                }

                ])
    </script>
</head>


<body ng-controller="myappCtrl">
    <div class="text-center" ng-click="change()">
        name:
        <input type="checkbox" ng-model="name" >
        price:
        <input type="checkbox" ng-model="price">
        category:
        <input type="checkbox" ng-model="category">
        count:
        <input type="checkbox" ng-model="count">
        tax:
        <input type="checkbox" ng-model="tax">
        expiration:
        <input type="checkbox" ng-model="expiration">
    </div>
    <table class="table">
        <th>name</th>
        <th>price</th>
        <th>category</th>
        <th>count</th>
        <th>tax</th>
        <th>expiration</th>

        <tr ng-repeat="item in items">

            <td><ng-include src="nameSrc"></ng-include></td>
            <td><ng-include src="priceSrc"></ng-include></td>
            <td><ng-include src="categorySrc"></ng-include></td>
            <td><ng-include src="countSrc"></ng-include></td>
            <td><ng-include src="taxSrc"></ng-include></td>
            <td><ng-include src="expirationSrc"></ng-include></td>

        </tr>

    </table>

</body>
</html>